/* Custom CSS to override Bootstrap's default styling */

body {
	background-color: #111;
}

header {
	margin-top: 15px;
	border-radius: 15px;
	background-color: #FFE066;
}

a {
	font-size: small;
}

footer {
	margin-top: 15px;
	padding: 10px;
	border-radius: 15px;
	background-color: #333;
	text-align: center;
	color: #000;
}

.headerText {
	text-align: center;
}

.pageBody {
	margin-top: 15px;
	padding: 20px 20px 20px 0px ;
	border-radius: 15px;
	background-color: #900;
	color: #DDD
}